# 仓库级统一物理排版与换行契约 (单一真源)
root = true

[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true
indent_style = space
indent_size = 2

[*.ts]
indent_size = 4

[*.ps1]
end_of_line = crlf
indent_size = 4

[*.gd]
indent_style = tab
indent_size = 4

[*.md]
trim_trailing_whitespace = false

[*.png]
charset = unset
end_of_line = unset
insert_final_newline = unset
trim_trailing_whitespace = unset

[*.vsix]
charset = unset
end_of_line = unset
insert_final_newline = unset
trim_trailing_whitespace = unset

[*.ico]
charset = unset
end_of_line = unset
insert_final_newline = unset
trim_trailing_whitespace = unset

